@using MVCWebApplication1.Models

@model IEnumerable<MVCWebApplication1.Models.Employee>
@{
    Layout = null;
}

<!DOCTYPE html>

<html width="80%" style="background-color:cadetblue">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List Countries</title>
</head>
<body>
    <table align="center" border="1" style="border-collapse:collapse">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Department</th>
        </tr>
        @foreach (Employee emp in Model)
        {
            int? ManagerId;
            <tr>
                <td>@emp.EmployeeID</td>
                <td>@emp.FirstName</td>
                <td>@emp.LastName</td>
                @{
                    if (@emp.ManagerID == null)
                    {
                        ManagerId = 0;
                     }
                     else
                     {
                        ManagerId = @emp.ManagerID;
                     }
                }
                <td>@emp.ManagerID</td>
            </tr>
        }
    </table>
</body>
</html>
